.jumbotron{
    background-image: url("C:/Users/betti/Desktop/Ploty_Deployment/static/css/images/Bacteria.jpg");
    background-size: 100% 150%;
    text-align: center;
}
.container {
    background-color: black;
    background-size: 100% 100%;
    text-align: justify;
}
.chart-container {
    width: 1000px;
    height:600px
}

h1 {
    background-color: rgb(166, 199, 190);
}

p {
    background-color: rgb(166, 199, 190);
}

h6 {
    color: #8b008b;
}

body {
    background-color: rgb(166, 199, 190);
}